header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
}

main {
  height: calc(100vh - 7rem);
  overflow: hidden;
}

.search {
  height: 3rem;
  display: flex;
  align-items: center;
}

.list {
  height: calc(100% - 3rem);
}

nav {
  height: 3rem;
}

.notes-btn {
  color: blue;
}

.todos-btn {
  color: blue;
}
