table {
  width: 100%;
}

tr {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

tbody > tr {
  overflow: hidden;
}

tbody > tr:hover {
  background-color: lightgrey;
}
 td {
   word-break: break-word;
 }

.note-title {
  font-weight: bold;
}

.current-note {
  background-color: whitesmoke;
}