#toolbar {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px whitesmoke;
}

#toolbar > button {
  color: white;
  background-color: #00cccc;
  border:none;
  border-radius: 5px;
  box-shadow: none;
  padding: 10px 20px;
  margin: 10px;
}

#toolbar > button:hover {
  background-color: darkcyan;
}