main {
  display: flex;
  flex-wrap: wrap;
  height:90vh;
}

main > aside {
  flex: 1;
  border-right: solid 1px lightblue;
  height:inherit;
  overflow-y:auto;
}

main > section {
  flex: 3;
  padding: 0px 20px;
  height: 85vh;
}

tr {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

tbody > tr:hover {
  background-color: lightgrey;
}

.note-title {
  font-weight: bold;
}

.current-note {
  background-color: whitesmoke;
}
